:root{
    --main1-color:#222831;
    --main2-color:#393E46;
    --main5-color:#4f5865;
    --main3-color:#d4ba90;
    --main4-color:#DFD0B8;
}
.bg-main-color{
    background-color: var(--main3-color);
}
.bg-sec-color{
    background-color: var(--main4-color);
}
.text-main-color{
    color: var(--main1-color);
}
.bg-btn-color ,.btn:active ,.btn:focus{
    background-color: var(--main2-color);
}
.btn:hover{
    background-color: var(--main5-color);
    transition: all 1s;
}